<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianlink.blog.mapper.BlogMapper">
    <resultMap id="BlogResult" type="cn.chenjianlink.blog.pojo.Blog">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="clickHit" column="clickHit"/>
        <result property="replyHit" column="replyHit"/>
        <result property="content" column="content"/>
        <result property="keyWord" column="keyWord"/>
        <association property="blogType" column="typeId"
                     select="cn.chenjianlink.blog.mapper.BlogTypeMapper.selectByPrimaryKey"></association>
    </resultMap>
    <!--查询所有日志的部分信息(可能根据标题查找)-->
    <select id="selectList" parameterType="java.lang.String" resultMap="BlogResult">
        SELECT id, title, releaseDate, typeId
        FROM t_blog
        <where>
            <if test="_parameter != null and _parameter != ''">
                AND title LIKE '%${_parameter}%'
            </if>
        </where>
        ORDER BY releaseDate DESC
    </select>
    <!--根据id查询日志信息-->
    <select id="selectByPrimaryKey" parameterType="int" resultMap="BlogResult">
        SELECT *
        FROM t_blog
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <!--删除blog-->
    <delete id="delete" parameterType="int[]">
        DELETE FROM t_blog
        WHERE id IN
        <if test="array != null">
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
    </delete>
    <!--更新日志-->
    <update id="update" parameterType="cn.chenjianlink.blog.pojo.Blog">
        UPDATE t_blog
        <set>
            <if test="title != null and title != ''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="clickHit != null and clickHit != ''">
                clickHit = #{clickHit,jdbcType=INTEGER},
            </if>
            <if test="replyHit != null and replyHit != ''">
                replyHit = #{replyHit,jdbcType=INTEGER},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="blogType.id != null and blogType.id != ''">
                typeId = #{blogType.id,jdbcType=INTEGER},
            </if>
            <if test="keyWord != null and keyWord != ''">
                keyWord = #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="releaseDate != null and releaseDate != ''">
                releaseDate = #{releaseDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <!--添加新日志-->
    <insert id="insert" parameterType="cn.chenjianlink.blog.pojo.Blog">
        INSERT INTO t_blog (id, title, summary, releaseDate, clickHit, replyHit, content, typeId, keyWord)
        VALUES (#{id,jdbcType=INTEGER},
                #{title,jdbcType=VARCHAR},
                #{summary,jdbcType=VARCHAR},
                #{releaseDate,jdbcType=TIMESTAMP},
                0,
                0,
                #{content},
                #{blogType.id,jdbcType=INTEGER},
                #{keyWord,jdbcType=VARCHAR})
    </insert>
    <!--按发布日期查询日志总数-->
    <select id="selectCountList" resultMap="BlogResult">
        SELECT DATE_FORMAT(releaseDate, '%Y-%m ') AS releaseDateStr, COUNT(*) AS blogCount
        FROM t_blog
        GROUP BY DATE_FORMAT(releaseDate, '%Y-%m ')
        ORDER BY DATE_FORMAT(releaseDate, '%Y-%m ') DESC;
    </select>
    <!--根据日志日期，日志类别查询日志列表,按日志发布日期排序-->
    <select id="selectListAll" parameterType="Map" resultMap="BlogResult">
        SELECT *
        FROM t_blog
        <where>
            <if test="typeId != null and typeId !=''">
                AND typeId = #{typeId,jdbcType=INTEGER}
            </if>
            <if test="releaseDateStr != null and releaseDateStr != ''">
                AND DATE_FORMAT(releaseDate,'%Y-%m ') = #{releaseDateStr}
            </if>
        </where>
        ORDER BY releaseDate DESC
    </select>
    <!--查询blog总记录数-->
    <select id="selectCount" parameterType="Map" resultType="int">
        SELECT COUNT(id)
        FROM t_blog
        <where>
            <if test="typeId != null and typeId !=''">
                AND typeId = #{typeId,jdbcType=INTEGER}
            </if>
            <if test="releaseDateStr != null and releaseDateStr != ''">
                AND DATE_FORMAT(releaseDate,'%Y-%m ') = #{releaseDateStr}
            </if>
        </where>
    </select>
    <!--查询上一篇日志-->
    <select id="selectPre" parameterType="java.util.Date" resultType="cn.chenjianlink.blog.pojo.Blog">
        SELECT id, title
        FROM t_blog
        WHERE releaseDate <![CDATA[ > ]]> #{date,jdbcType=TIMESTAMP}
        LIMIT 1;
    </select>
    <!--查询下一篇日志-->
    <select id="selectNext" parameterType="java.util.Date" resultType="cn.chenjianlink.blog.pojo.Blog">
        SELECT id, title
        FROM t_blog
        WHERE releaseDate <![CDATA[ < ]]> #{date,jdbcType=TIMESTAMP}
        ORDER BY releaseDate DESC
        LIMIT 1;
    </select>
</mapper>