<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianlink.blog.mapper.LinkMapper">
    <select id="getLinkList" resultType="cn.chenjianlink.blog.pojo.Link">
        SELECT * FROM t_link;
    </select>
</mapper>